@model ClientManagementSys.Models.Invoice
@using ClientManagementSys.Areas.Identity.Data
@inject SignInManager<ApplicationUser> _signInManager;
@{
    ViewData["Title"] = "Create";
    Layout = "";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/invoice-add.css" asp-append-version="true">
    <script src=""></script>
    <title>Document</title>
</head>
<body>
     <div class="container">
         <span> <partial name="_DashBoardPartial" /></span>
        <div class="dashboard">
            <div class="top-nav">
                <p class="cms">Client Management System</p>
                <span > <partial name="_LoginPartial" /></span>
            </div>

            <div class="main">
                <div class="client">
                    <div class="add-client">
                        <p>Add Invoice</p>

                    </div>


                </div>

                <div class="containers">
                    <div class="Contact" id="add-client">

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row-1">
                                <div class="item1">

                                    <label for="name"><b>S.N</b></label>

                                </div>

                                <div class="item2">

                                    <label for="name"><b>Invoice No </b></label>

                                </div>

                                <div class="item3">
                                    <label for="name"><b> Amount</b></label>
                                </div>

                                <div class="item4">
                                    <label for="name"><b>Date</b></label>
                                </div>

                                <div class="item5">
                                    <label for="name"><b>Debit</b></label>
                                </div>


                                <div class="item6">
                                    <label for="name"><b>Credit</b></label>
                                </div>

                                <div class="item6">
                                    <label for="name"><b>Product Name</b></label>
                                </div>
                                <div class="item6">
                                    <label for="name"><b>Organization</b></label>
                                </div>


                            </div>
                            <br>


                            <div class="row-2" id="row_body">
                                <div class=" column item-1 sn">
                                    <!-- <input type="number" class="sn" name="sn"> -->
                                </div>
                                <div class=" column item-2">

                                    <input asp-for="Invoice_No" class="form-control" />
                                    <span asp-validation-for="Invoice_No" class="text-danger"></span>
                                </div>

                                <div class=" column item-3">

                                    <input asp-for="Amount" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>

                                <div class=" column item-4">

                                    <input asp-for="Date" type="date" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>

                                <div class="column item-5">

                                    <input asp-for="Debit" class="form-control" />
                                    <span asp-validation-for="Debit" class="text-danger"></span>
                                </div>

                                <div class=" column item-6">

                                    <input asp-for="Credit" class="form-control" />
                                    <span asp-validation-for="Credit" class="text-danger"></span>

                                </div>


                                <div class="column item-6">

                                    <select asp-for="Product_Id" class="form-control" asp-items="ViewBag.Product_Id"></select>
                                </div>
                                <div class="column item-6">

                                    <select asp-for="Org_Id" class="form-control" asp-items="ViewBag.Org_Id"></select>
                                </div>


                                <input type="submit" value="Create" />
                                 <a asp-action="Index">List</a>


                                @*  <button class="addbtn"> <i style="font-size:13px" class="fa">&#xf067;</i> </button>*@
                            </div>

                            <!-- <button class="addbtn" onclick="add(event)" > <i style="font-size:13px" class="fa">&#xf067;</i> </button> -->
                            <!-- <button class="remove" onclick="add(event)" >  - </button>  -->












                        </form>

                        
                        @section Scripts {
                        @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                        }
                        }


                    </div>






                    <div>
                    </div>
                </div>

            </div>

            <div class="footer">
                <h6>Client Management system 2022 by silicon soft Nepal</h6>
            </div>
        </div>












    </div>


    </div>

        <script src="/js/navbar.js"></script>
    <!-- <script src="index.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
            //  function add(e){
            //   e.preventDefault();
            //   let add_body = document.getElementById("row_body"),
            //       list= add_body.firstElementChild

            //       cloness    =list.cloneNode(true);

            //   add_body.append(cloness);

            //  } <button style="cursor:pointer;background-color:red;" class="addbtn removebtn" onclick="add(event)" >  - </button>
            $(document).ready(function() {

              let currentSN = GenerateSerialNum();

              SetSerialNum(currentSN);

              var max_fields = 0;
              var wrapper = $(".row-2");
              var add_button = $(".addbtn");
              var x = 1; //initlal text box count

              $(add_button).click(function(e){

                  e.preventDefault();
                  // if($(".row-2").children().children().length==0){
                //   $(".row-2").html("");
                  //     }
                  // var sn= $(".row-2").children().length-1;
                 if(x > max_fields){
                      x++;
                      $(wrapper).append('<div class="row-2" id="row_body"><div class=" column item-1 sn"></div> <div class=" column item-2"><input type="date" name="invoiceday"> </div> <div class=" column item-3"><input type="text"  name="cname" id="cname" > </div> <div class=" column item-4">  <input type="text"  name="cname" id="cname" > </div><div class="column item-5"><input type="number"> </div> <div class=" column item-6">  <input type="number"> </div><div class=" column item-6"><select></select><div><div class=" column item-6"><select> </select><div> <button style="cursor:pointer;background-color:red;" class="addbtn removebtn" onclick="add(event)" >  &minus; </button>  </div>');
                  }

                  let currentSN = GenerateSerialNum();

                  SetSerialNum(currentSN);

              });
              $(wrapper).on("click",".removebtn", function(e){
              e.preventDefault();
              $(this).parent('div').remove();
              // debugger
                const rows = document.querySelectorAll('.row-2');
                rows.forEach((row, index)=>{
                  row.getElementsByClassName('sn')[0].innerHTML = index + 1
                })
               x--;
              })


              function GenerateSerialNum()
              {
                let currentSN = document.getElementsByClassName('row-2').length;
                return currentSN;
              }

              function SetSerialNum(currentSN)
              {
                const last = Array.from( document.querySelectorAll('.row-2')).pop();
                last.getElementsByClassName('sn')[0].innerHTML = currentSN;
              }
        });
    </script>
</body>
</html>

































@*<h1>Create</h1>

    <h4>Invoice</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
    <label asp-for="Invoice_No" class="control-label"></label>
    <input asp-for="Invoice_No" class="form-control" />
    <span asp-validation-for="Invoice_No" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Amount" class="control-label"></label>
    <input asp-for="Amount" class="form-control" />
    <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Credit" class="control-label"></label>
    <input asp-for="Credit" class="form-control" />
    <span asp-validation-for="Credit" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Debit" class="control-label"></label>
    <input asp-for="Debit" class="form-control" />
    <span asp-validation-for="Debit" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Product_Id" class="control-label"></label>
    <select asp-for="Product_Id" class ="form-control" asp-items="ViewBag.Product_Id"></select>
    </div>
    <div class="form-group">
    <label asp-for="Org_Id" class="control-label"></label>
    <select asp-for="Org_Id" class ="form-control" asp-items="ViewBag.Org_Id"></select>
    </div>
    <div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    </form>
    </div>
    </div>*@


