*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row;
   
    
}

.nav-bar{
    height: auto;
    width: 22%;
    display: flex; 
    flex-direction: column;
    background-color: #F8F8FF;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    transition: 0.5s;
  
    
}
.nav a{
    text-decoration: none;
  
    
}
.top{
   
    width: 100%;
    display: none;
    
  
}
.top h4{
    width: 60%;
    padding: 2rem; 
    font-size: 20px;
    text-align: center;
    color: black;
}

.admin-icon{
    text-align: center;
    background-color: #fff;
    width: 100%;
    border-radius: none;
    
}

.admin-icon i{
    justify-items: center;
    margin: 20px auto;
}
.admin-icon h3{
    justify-items: center;
    margin-bottom:20px;
}
.nav{
    margin-top: 3px;
}
.side-menu li:hover{
   
        background-color: #ddd;
        background-color: #badff6;
        color: black;
      
}

.nav-item{
    padding: 10px;
    margin-top: 0.5rem;
    
}
.nav-item li{
    list-style: none;
}
.nav-item  a{
  color: black;
  margin-left: 10px;
 
 
}
.nav-item li :hover{
    background-color: #949191;
   
     
} 
.nav-item span{
    color: black;
    margin-left: 12px;
    font-size: 15px;
    width: 0;
    font-weight: 550;
    padding: 10px;
  }
.nav-item .icon{
    width: 5%;
    font-size: 17px;

}
  .bxs-chevron-right{
      float: right;
      overflow: hidden;
      transition: 0.5s;
  }

  .nav-item i{
    color: black;
    font-size: 18px;
  }

  .sub-menu{
      width: 80%;
      margin: 0 0 0 50px;
      overflow: hidden;
       max-height: 0; 
      transition: 0.5s;
  }

  .sub-menu li{
      height: 25px;
      padding: 5px 10px;
      margin: 4px auto;
      font-size: 13px;
      font-weight: 200;

  }
  .sub-menu a{

      position: initial;
      height: auto;
      display: initial;
  }

 .dashboard{
    width: 88%;
    
}
 .top-nav {
     font-weight: bold;
     font-size: 16px;
   text-decoration: none;
   width: 100%;
   background-color: #F8F8FF;
   height: 2.5rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between; 

   
}
 .cms{
    padding-left: 2rem;
    padding-top: 0.5rem;
 }
   

 .top-nav a{
     text-decoration: none;
     float: right;
    color: black;
    margin-right: 1.2rem;
    padding-top: 0.5rem;
   
    
 }

 

 
  .nav-bar.expand{
      width: 60px;
     
  }
  .nav-bar.expand ~ .dashboard{
   margin:50px 300px ;
   
}
.nav-bar.expand .top{
    margin-top: 10px;
      
   }
   .nav-bar.expand .top h4{
    margin-top: 10px auto;
      
   }
.nav-bar.expand .admin-icon{
  display: none;
    
 }
 .nav-bar.expand span{
    display: none;
      
   }
   .nav-bar.expand .bxs-chevron-right{
    display: none;
      
   }
   .nav-bar.expand .sub-menu{
    display: none;
      
   }

 

 
  li.active .sub-menu{
      max-height: 300px;
  }
  
@media only screen and  (max-width: 600px) {
    .nav-bar{
      
        width: 100%;
        flex-direction: column;
        background-color: #f1f1f1;
        background-color: aliceblue;
        box-shadow: 0 0 15px rgba(0,0,0,0.75);
        transition: 0.5s;
        
        height: 20px;
      
        
    }
    .nav a{
        text-decoration: none;
         
    }
     .nav-item li :hover{
        background-color: #949191;
       
         
    } 
    .top{
      
        display: inline-block;
        width: 100%;
        background-color: cadetblue;
        height: 100px;
       
      
    }
    .top h4{
        width: 100%;
        margin-top: 6px;
        
        padding: 10px;
        font-size: 20px;
       
        text-align: center;
        color: black;
    }
    .top i{
        float: right;
        margin: 15px 30px;
         font-size: 20px;
        color:black;
    
    }
    .admin-icon{
        display: none;
       
    }
    
    
    .nav{
        margin-top: 1px;
        background-color: #f1f1f1;
        justify-content: center;
        
    }

    .nav-item{
        padding: 10px;
        margin-top: 0rem;
        
    }
    
    .nav-item li{
        list-style: none;
    }
    .nav-item  a{
      color: black;
      text-align: center;
     
     
    }
   
    
    .nav-item span{
        color: black;
         text-align: left;
         flex: 1;
         font-weight: 500;
        font-size: 15px;
        width: 0;
      
      }
    
      .bxs-chevron-right{
          float: right;
          overflow: hidden;
          transition: 0.5s;
      }
    
      .nav-item i{
        color: black;
        font-size: 18px;
      }
      .sub-menu{
        width: 100%;
        margin: 0 0 0 5px;
        overflow: hidden;
         max-height: 0; 
        transition: 0.5s;
    }
    
    .sub-menu li{
        height: 20px;
        padding: 5px 10px;
        margin: 4px 50px;
        font-size: 13px;
        font-weight: 200;
    
    }

    .sub-menu a{
         position: initial; 
        height: 100%;
        display: initial;
        
        
    }
    .nav-item .icon{
        width: 5%;
      
    
    }
    
}
@media only screen and  ( min-width:600px), screen and( max-width:820px) {
    .nav-bar{
        height: auto;
        width: 25.5%;
        
         display: flex; 
        flex-direction: column;
    
        
        background-color: #F8F8FF;
        box-shadow: 0 0 8px rgba(0,0,0,0.75);
        transition: 0.5s;
      
        
    }
    .sub-menu li {
        height: 28px;
        
  
    }
}


 .dashboard{
    width: 100%;
   
    
}
 .top-nav {
   text-decoration: none;
   width: 100%;
   background-color: #F8F8FF;
   height: 2.3rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between; 

   
}
 .cms{
    padding-left: 2rem;
    padding-top: 0.5rem;
 }
   

 .top-nav a{
     text-decoration: none;
     float: right;
    color: black;
     margin-right: 1.2rem; 
    padding-top: 0.5rem;
   
    
 }
 .main{
     margin-left:2rem;
     margin-right: 2rem;
     box-shadow: 0px 0px 1px #888888; 
    
 }

 .client{

      margin-top: 0.5rem ;

    
 }
 .add-client p{
        display: block;
        padding: 0.5rem;
        font-size: 15px;
        font-weight: 500;
         box-shadow: 0px 1px 1px #e6dede;
      
        
 }



 .containers{
   
    background-color: aliceblue;
  
    padding: 1rem;
   
     margin: 1px auto; 
     
    
}
.Contact form{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 12px;
    margin-top: 0px;
     margin-left: 1.5rem; 
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    width: 200px;   
}
input[type=text] {
   width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
     resize: vertical;
    
  }



input[type=date] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

input[type=number] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}


select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}





  input[type=date] {
    width:90%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
     resize: vertical;
    
  }

  .registerbtn{
      margin-left: 10rem;
      margin-top: 1rem;
      
    
   
}
  input[type=submit] {
    width:60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 15px;
    margin: 0rem 17rem; 
     margin-top: 1rem;
    /* margin-left: 2rem;  */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .footer{
    margin-top: 7.4rem;
    width: 100%;
    background-color: #F8F8FF;
   
   

}
.footer h6{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0.9px;
    font-weight: 400;
   
}


 
  @media only screen and  (max-width: 600px) {
      .dashboard{
          width: 100%;
      }

      #add-client{
          display: grid;
          margin: o.3rem;
      }
  }


  .nav-bar.expand{
      width: 60px;
     
  }
  .nav-bar.expand ~ .dashboard{
   margin:50px 300px ;
   
}
.nav-bar.expand .top{
    margin-top: 10px;
      
   }
   .nav-bar.expand .top h4{
    margin-top: 10px auto;
      
   }
.nav-bar.expand .admin-icon{
  display: none;
    
 }
 .nav-bar.expand span{
    display: none;
      
   }
   .nav-bar.expand .bxs-chevron-right{
    display: none;
      
   }
   .nav-bar.expand .sub-menu{
    display: none;
      
   }

 
  li.active .sub-menu{
      max-height: 300px;
  }

 
@media only screen and  (max-width: 600px)  and (min-width:280px){



.container {
    display: flex;
    flex-direction: column;
  
    
}
.dashboard{
    margin-top: 21rem;
}
.footer{
    width: 50%;
}
.main{
  margin: 1rem;
  
     box-shadow: 0px 0px 1px #888888; 
   
}
.top-nav{
   display: none;

margin-top: 270px;
}
.top-nav a, p{
    display: none;
}
.Contact form{
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;


}
.Contact form{
    
    
    margin-top: 0px;
     margin-left: 1rem; 
}
input[type=text] {
    width: 85%;
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
     resize: vertical;
    
  }
  input[type=date] {
    width: 85%;
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
     resize: vertical;
    
  }
.registerbtn{
    margin-left: 1rem;
  

 
 
}
input[type=submit] {
  width:30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 15px;
  margin: 1rem 7rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
input[type=submit]:hover {
  background-color: #45a049;
}


.footer {
    margin-top: 10rem;
    width: 100%;
    background-color: #888888;
}
.footer{
    margin-top: 0rem;
    width: 100%;
    background-color: #F8F8FF;
   
   

}
.footer h6{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0.9px;
    font-weight: 400;
   
}
}
@media only screen and  ( max-width:820px) and (min-width:700px)  {
    .container{
        width: 100%;
        display: flex;
    }
    .nav-bar{
        width: 25%;
    }
    .dashboard{
        width: 75%;
    }
    .top-nav{
        width: 100%;
    }
    .main{
        margin-right: 0rem 1rem;
    }
    .Contact form{
        display: grid;
        grid-template-columns: 250px 250px;
        grid-gap: 12px;
        margin-top: 0px;
         margin-left: 0.1rem; 
    }
    input[type=text] {
        width: 80%;
         padding: 10px;
         border: 1px solid #ccc;
         border-radius: 5px;
          resize: vertical;
         
       }
       input[type=date] {
         width:80%;
         padding: 9px;
         border: 1px solid #ccc;
         border-radius: 5px;
          resize: vertical;
         
       }
       input[type=submit] {
        width:60%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 15px;
        margin: 1rem 8.5rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
}





