*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row;
   
    
}

.nav-bar{
    height: auto;
    width: 22%;
    display: flex; 
    flex-direction: column;
    background-color: #F8F8FF;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    transition: 0.5s;
  
    
}
.nav a{
    text-decoration: none;
  
    
}
.top{
    display: inline-block;
    width: 100%;
    background-color: #F1F1FB;
    
  
}
.top h4{
    margin-top: 10px;
    margin-bottom: 1rem;
    font-size: 20px;
    text-align: center;
    color: black;
}

.admin-icon{
    text-align: center;
    background-color: #fff;
    width: 100%;
    border-radius: none;
    
}

.admin-icon i{
    justify-items: center;
    margin: 20px auto;
}
.admin-icon h3{
    justify-items: center;
    margin-bottom:20px;
}
.nav{
    margin-top: 1rem;
}
.side-menu li:hover{
   
        background-color: #ddd;
        background-color: #badff6;
        color: black;
        margin-top: 1rem;
      
}

.nav-item{
    padding: 14px;
    margin-top: 0.5rem;
    
}
.nav-item li{
    list-style: none;
}
.nav-item  a{
  color: black;
  margin-left: 10px;
 
 
}
.nav-item li :hover{
    background-color: #949191;
   
     
} 
.nav-item span{
    color: black;
    margin-left: 12px;
    font-size: 15px;
    width: 0;
    font-weight: 550;
    padding: 10px;
  }
.nav-item .icon{
    width: 5%;
    font-size: 17px;

}
  .bxs-chevron-right{
      float: right;
      overflow: hidden;
      transition: 0.5s;
  }

  .nav-item i{
    color: black;
    font-size: 18px;
  }

  .sub-menu{
      width: 80%;
      margin: 0 0 0 50px;
      overflow: hidden;
       max-height: 0; 
      transition: 0.5s;
  }

  .sub-menu li{
      height: 25px;
      padding: 5px 10px;
      margin: 4px auto;
      font-size: 13px;
      font-weight: 200;

  }
  .sub-menu a{

      position: initial;
      height: auto;
      display: initial;
  }

 .dashboard{
    width: 88%;
    
}
 .top-nav {
     font-weight: bold;
     font-size: 16px;
   text-decoration: none;
   width: 100%;
   background-color: #F8F8FF;
   height: 3rem;
   /* display: flex; */
   flex-direction: row;
   justify-content: space-between; 

   
}
 .cms{
    padding-left: 2rem;
    padding-top: 0.5rem;
 }
   

 .top-nav a{
     text-decoration: none;
     float: right;
    color: black;
    margin-right: 3rem;
    padding-top: 0.5rem;
   
    
 }
 
  .nav-bar.expand{
      width: 60px;
     
  }
  .nav-bar.expand ~ .dashboard{
   margin:50px 300px ;
   
}
.nav-bar.expand .top{
    margin-top: 10px;
      
   }
   .nav-bar.expand .top h4{
    margin-top: 10px auto;
      
   }
.nav-bar.expand .admin-icon{
  display: none;
    
 }
 .nav-bar.expand span{
    display: none;
      
   }
   .nav-bar.expand .bxs-chevron-right{
    display: none;
      
   }
   .nav-bar.expand .sub-menu{
    display: none;
      
   }
 
  li.active .sub-menu{
      max-height: 300px;
  }

.dashboard {
    width: 88%;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 26px;
  margin-top: 1.5rem;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: calc(50% / 3 - 15px);
  background: #95d6ff;
  padding: 25px 18px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  
}
.overview-boxes .box-topic{
  margin-top: 10px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 22px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .cart{
  display: inline-block;
  font-size: 45px;
  height: 40px;
  width: 40px;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 5px;
  margin: -15px 0 0 10px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   
 }
.home-content .box .cart.three{
   color: #ffc233;
  
 }
.home-content .box .cart.four{
   color: #e05260;
   
 }
 .project {
     display: flex;
 }
 .overall-project {

     width: 60%;
     margin-left: 1rem;
 }
 .bar-chart {
     background-color: #95D6FF;
     height: 40%;
     margin-right: 4rem;
     text-align: center;
     margin-left: 4rem;
     padding-top: 1rem;
    
 }
 .ongoing-projects{
    background-color: #95D6FF;
    margin-top: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
    height: 280px;
     
 }
 .ongoing-projects ol {
     margin-left: 2rem;
     margin-top: 2rem;
 }
 .recent-project {
     width: 35%;
     height: 490px;
     background-color: #95d6ff;
     
 }
 .recent-project ol{
     margin-top: 2rem;
     margin-left: 2rem;
 }
 .heading-proj {
  box-shadow: 0 0 1px;
  text-align: center;
  padding: 1rem;

 }
 .title-proj {
    box-shadow: 0 0 1px;
    text-align: center;
    padding: 1rem;

 }
 footer {
     background-color: #F1F1FB;
     padding: 10px;
     text-align: center;
     margin-top: 0.5rem;
 }

@media only screen and  (max-width: 912px)  and (min-width: 768px) {
.top-nav .link a {
    padding-left: 40rem;
    font-weight: bold;
    font-size: 17px;
}
.top h4{
    margin-top: 0;
    padding-bottom: 0;
    font-size: 15px;
}
.overview-boxes .box{
    width: calc(90% / 3 - 15px);
}

.bar-chart{
    margin-left: 1rem;
}
.ongoing-projects{
    margin-left: 1rem;
}
.title-proj{
   box-shadow: none;
    border-bottom: 1px solid;
}
.heading-proj{
    box-shadow: none;
    border-bottom: 1px solid;
}

}

@media only screen and  (max-width: 600px) {
    .nav-bar{
      
        width: 100%;
        flex-direction: column;
        background-color: #f1f1f1;
        background-color: aliceblue;
        box-shadow: 0 0 15px rgba(0,0,0,0.75);
        transition: 0.5s;
        height: 20px;     
    }
    .nav a{
        text-decoration: none;
         
    }
     .nav-item li :hover{
        background-color: #949191;
       
         
    } 
    .top{
      
        display: inline-block;
        width: 100%;
        background-color: cadetblue;
        height: 100px;
       
      
    }
    .top h4{
        width: 100%;
        margin-top: 6px;
        
        padding: 10px;
        font-size: 20px;
       
        text-align: center;
        color: black;
    }
    .top i{
        float: right;
        margin: 15px 30px;
         font-size: 20px;
        color:black;
    
    }
    .admin-icon{
        display: none;
       
    }
    
    
    .nav{
        margin-top: 1px;
        background-color: #f1f1f1;
        justify-content: center;
        
    }

    .nav-item{
        padding: 10px;
        margin-top: 0rem;
        
    }
    
    .nav-item li{
        list-style: none;
    }
    .nav-item  a{
      color: black;
      text-align: center;
     
     
    }
   
    
    .nav-item span{
        color: black;
         text-align: left;
         flex: 1;
         font-weight: 500;
        font-size: 15px;
        width: 0;
      
      }
    
      .bxs-chevron-right{
          float: right;
          overflow: hidden;
          transition: 0.5s;
      }
    
      .nav-item i{
        color: black;
        font-size: 18px;
      }
      .sub-menu{
        width: 100%;
        margin: 0 0 0 5px;
        overflow: hidden;
         max-height: 0; 
        transition: 0.5s;
    }
    
    .sub-menu li{
        height: 20px;
        padding: 5px 10px;
        margin: 4px 50px;
        font-size: 13px;
        font-weight: 200;
    
    }

    .sub-menu a{
         position: initial; 
        height: 100%;
        display: initial;
        
        
    }
    .nav-item .icon{
        width: 5%;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .dashboard {
        display: flex;
        flex-direction: column;
        margin-top: 20rem;
    }
    .top-nav{
        display: none;
    }
    .home-content .overview-boxes {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        margin-top: 2rem;
    }
    .overview-boxes .box {
        width: 210px;
        margin-bottom: 2rem;
        
    }
    .dashboard {
        width: 100%;
    }
    .project {
        display: flex;
        flex-direction: column;

    }
    .overall-project {
        display: flex;
        width: auto;
        height: auto;
        margin-bottom: 1rem;

    }
    .recent-project {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;

    }
    .bar-chart{
        width: 50%;
        height: auto;
        margin-left: 1rem;
        margin-right: 0;

    }
    .bar-chart .h4 {
        
    }
    .ongoing-projects {
        width: 50%;
        margin-top: 0;
        margin-right: 2rem;
        margin-left: 2rem;
       

    }
    .title-proj{
        border-bottom: 1px solid;
        box-shadow: none;
        
    }
    .heading-proj {
    box-shadow: 0 0 1px;
    text-align: center;
    padding: 1rem;
    border-bottom: 2px solid #95d6ff;
    }
}
@media only screen and  (max-width: 912px)  and (min-width: 768px) {
    .top-nav .link a {
        padding-left: 40rem;
        font-weight: bold;
        font-size: 17px;
    }
    .top h4{
        margin-top: 0;
        padding-bottom: 0;
        font-size: 15px;
    }
    .overview-boxes .box{
        width: calc(90% / 3 - 15px);
    }
    
    .bar-chart{
        margin-left: 1rem;
    }
    .ongoing-projects{
        margin-left: 1rem;
    }
    .title-proj{
       box-shadow: none;
        border-bottom: 1px solid;
    }
    .heading-proj{
        box-shadow: none;
        border-bottom: 1px solid;
    }
    
}
