*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row;
    flex: 0.8;
    
}

.nav-bar{
   
    width: 24%;
    height: auto;
     display: flex;  /*   for nav item */
    flex-direction: column;

    /* background-color: aliceblue; */
    background-color: #F8F8FF;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    transition: 0.5s;
  
    
}
.nav a{
    text-decoration: none;
     /* display: flex;      */
    /* align-items: center; */
    
}
.top{
    /* border: 1px solid black;  */
    /* display: inline-block; */
    width: 100%;
    display: none;
    
  
}
.top h4{
    width: 60%;
    padding: 2rem;
    /* margin-top: 10px; */
    
    font-size: 20px;
   
    text-align: center;
    color: black;
}

.admin-icon{
    text-align: center;
    background-color: #fff;
  
   
    width: 100%;
    /* height: 190px; */
   
    /* margin: 10px auto; */
    
    border-radius: none;
    /* border: 1px solid #B0C4DE; */
}

.admin-icon i{
    justify-items: center;
    margin: 20px auto;
}
.admin-icon h3{
    justify-items: center;
    margin-bottom:20px;
}
.nav{
    margin-top: 3px;
}
.nav-item{
    padding: 10px;
    
}
.nav-item li{
    list-style: none;
}
.nav-item :hover{
    background-color: #95d6FF;
}
.nav-item  a{
  color: black;
  margin-left: 10px;
 
 
}
.nav-item span{
    color: black;
    margin-left: 12px;
    font-size: 15px;
    width: 0;
    font-weight: 550;
    padding: 10px;
  }

  .bxs-chevron-right{
      /* margin-left: 50px; */
      float: right;
      /* width: 0; */
      overflow: hidden;
      transition: 0.5s;
  }

  .nav-item i{
    color: black;
    font-size: 18px;
  }


  .sub-menu{
      width: 80%;
      margin: 0 0 0 50px;
      overflow: hidden;
       max-height: 0; 
      transition: 0.5s;
  }
  /* .nav-item li:hover{
    background-color: #95d6FF;
} */

  .sub-menu li{
      height: 25px;
      padding: 5px 10px;
      margin: 4px auto;
      font-size: 13px;
      font-weight: 200;

  }
  .sub-menu a{

      position: initial;
      height: auto;
      display: initial;
  }
  .side-menu li:hover{
   
    background-color: #ddd;
    background-color: #badff6;
    color: black;
  
}

  /*dashboard, clients css*/
 .dashboard{
    width: 78%;
    
}
 .top-nav {
     font-weight: bold;
     font-size: 16px;
   text-decoration: none;
   width: 100%;
   background-color: #F8F8FF;
   /* background-color: aliceblue; */
   height: 2.5rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between; 

   
}
 .cms{
    padding-left: 2rem;
    padding-top: 0.5rem;
 }
   

 .top-nav a{
     text-decoration: none;
     float: right;
    color: black;
    margin-right: 1.2rem;
    padding-top: 0.5rem;
   
    
 }

 .client{
     margin: 2rem;

     /* display: flex;
     flex-direction: row;
     justify-content: space-between;  */
   
     
    

    
 }
 
 .search-client{
     width: 100%;
     float: left;
     display: inline-block;
     flex-direction: column;
 }
 /* input[type=text] {
    
    font-size: 17px;
    border: 1px solid grey;
   
    width: 70%;
    background: #f1f1f1;
  } */
 input[type=text] {
    padding: 8px;
    /* padding-left: 10px; */
    font-size: 14px;
    border: 1px solid grey;
   border-style: none;
    width: 60%;
    height: 2rem;
    background-color: #ededfe;
    /* background-color: rgb(222, 237, 250); */
   

    
  }
  
 .search-client button {
    
    width: 5%;
   height: 2rem;
   background-color: #95d6FF;
    /* background-color: rgb(222, 237, 250); */
/* 
    background-color: #F8F8FF; */
    background-color: #ededfe;
    color: white;
    font-size: 14px;
    
    /* border: 1px solid grey; */
    border-left: none;
    cursor: pointer;
    margin-left: -5px;
    border-style: none;
    
    /* margin-left: -1rem; */
  }
  .search-client i{
      padding: 3px;
      margin-right: 2px;
      color: black;
  }
  .search-client a{
    box-shadow: 3px 2px 5px #b6dbf1;
    border-radius: 8px;
    text-decoration: none;
    background-color: #95D6FF;
    /* background-color: #94C9E5; */
    padding: 7px 20px;
    color: black;
    float: right;
    margin-right: 2rem;
    width: 150px;
    font-size: 14px;
    font-weight: 500;
}
/* search client end*/

 /** clients table */
 .client-table{
     width: 100%;
     justify-content: center;
     
     margin: 5rem auto;

 }
 table {
   /* border-collapse: collapse;  */
  
  /* border-spacing: 0; */
  width: 100%;
  /* border: 1px solid #ddd; */
  border-spacing:  0 5px; 
  margin-top: 1rem;
}
tr{
    font-size: 14px;
}
th, td {
  text-align: center;
  padding: 3px;
  /* height: 10px; */

 
}

.actions button{
    margin: 5px;
    height: 1.7rem;
    /* background-color: #94C9E5; */
    background-color: #95D6FF;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;

}
td button a{
   padding: 10px 10px;
   font-size: 14px;
   font-weight: 520;
   

}
.actions button:hover{
    background-color: #ddddf4;
}

.actives{
     background-color: #04AA6D;
    width: 4.5rem;
    height: 1.7rem;
    border-style: none;
    /* cursor: none; */
  
}
.inactives{
    background-color: #f44336;
   width: 4.5rem;
   height: 1.7rem;
   border-style: none;
   /* cursor: none; */
 
}
.client-list{
      /* background-color: rgb(148, 183, 200);    */
      /* box-shadow:  2px 5px 1px aliceblue;   */
     box-shadow: 1px 1px 0px #ebdfdf;
     /* box-shadow: 1px 1px 2px aliceblue; */
   

    
}
.action{
    display: flex;
    flex-direction: row;
    
}
/* .dot{
    border-style: none;
    background-color: none;
     margin-left: 2rem; 
   
} */
/* .add{
    display: none;
} */
/* dot list*/

.dropdown-content {
    display: flex; 
    /* flex-direction: column; */
  margin-top: 0.35rem;
  margin-left: 1rem;
  
}
.dropdown-content a{
    text-decoration: none;
    color: black;
    /* border: 1px solid; */
    padding: 7px;
    background-color: #c9deea;
    margin: 0.2rem;
    display: none;
    /* margin: 0.3rem; */
    
    /* display: none; */
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .show {display:block;}
  

  
  .dropdown-content a:hover {background-color: #f1f1f1}

  .show {
      display:block;
    }

/*pagination here*/
.pagination {
    /* display: inline-block; */
     text-align: center; 
    /* display:  flex; */
    width: 40%;
    margin-top: -3rem;
    margin-left: 16.5rem;
   
     /* margin: 0rem auto;  */
    display: block;

  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    
  }
  .pagination a:hover{
      background-color: #04AA6D ;
      width: 10%;
  }

  /*footer css*/
.footer {
    bottom: 0;
    margin-top: 21.5rem;
    width: 100%;
    background-color: #ededfe;
    /* background-color: #F8F8FF; */
}
  .footer p{
      text-align: center;
      padding: 10px;
      font-size: 14px;
      letter-spacing: 0.9px;
      font-weight: 400;
     
  }
  /* nav-bar extend , js part*/
  .nav-bar.expand{
      width: 60px;
      /* left:2%;
      top: 10px; */
  }
  .nav-bar.expand ~ .dashboard{
   margin:50px 300px ;
   
}
.nav-bar.expand .top{
    margin-top: 10px;
      
   }
   .nav-bar.expand .top h4{
    margin-top: 10px auto;
      
   }
.nav-bar.expand .admin-icon{
  display: none;
    
 }
 .nav-bar.expand span{
    display: none;
      
   }
   .nav-bar.expand .bxs-chevron-right{
    display: none;
      
   }
   .nav-bar.expand .sub-menu{
    display: none;
      
   }

  /* li.active{
      background-color: whitesmoke; 
  }  */
 
  li.active .sub-menu{
      max-height: 300px;
  }


 /* js expand part end from here*/


/* nav bar responsive start here*/
@media only screen and  (max-width: 600px) {
.nav-bar{
    /* height: 100vh; */
    width: 100%;
      /*   for nav item */
    flex-direction: column;
    background-color: #f1f1f1;
    background-color: aliceblue;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    transition: 00.5s;
    
    height: 20px;
    /* margin-bottom: 1rem; */
  
    
}
.nav a{
    text-decoration: none;
   
     /* display: flex;      */
    /* align-items: center; */
    
}
.top{
    /* border: 1px solid black;  */
    display: block;
    width: 100%;
    background-color: cadetblue;
  
   
  
}
.top h3{
    width: 100%;
    padding: 10px;
    
    
    font-size: 16px;
   
    
    color: black;
}

.admin-icon{
    display: none;
   
}


.nav{
    margin-top: 1px;
    background-color: #f1f1f1;
    
}
.side-menu{
  
}
.nav-item{
    
     padding: 10px; 
     
  
    
   
    
}
.nav-item li{
    list-style: none;
}
.nav-item  a{
  color: black;
 
 
}
.nav-item .icon{
    display: none;
}

.nav-item span{
    color: black;
     /* margin-left: 200px;  */
     text-align: left;
     flex: 1;
     margin: 13em;
     font-weight: 500;
  
  
    font-size: 15px;
    width: 0;
  
  }

  .bxs-chevron-right{
      /* margin-left: 50px; */
      float: right;
      /* width: 0; */
      overflow: hidden;
      transition: 0.5s;
  }

  .nav-item i{
    color: black;
    font-size: 18px;
  }
  .sub-menu{
    width: 70%;
    margin: 0 0 0 150px;
    overflow: hidden;
     max-height: 0; 
    transition: 0.5s;
}

.sub-menu li{
    height: 25px;
    padding: 5px 10px;
    margin: 4px 80px;
    font-size: 13px;
    font-weight: 200;

}
.sub-menu a{
     position: initial; 
    height: auto;
    display: initial;
    
    
}

/*dasboard*/
.container {
    display: flex;
    flex-direction: column;
  
    
}
.dashboard{
    width: 100%;
    margin-top: 18rem;
    
}
.top-nav{
    /* direction: flex; */
    display: none;

margin-top: 350px;
}
.client{
   
   width: 92%;
  
}
.add-client{
    /* width: 80%; */
    margin-top: 1.5rem;
  
    float: right;

}
/* input[type="text"]{
    width: 90%;
} */
.search-client{
     width: 70%; 
    /* float: right; */
    
    
}
/*search client*/
.search-client{
    width: 100%;
   
    display: inline-block;
    flex-direction: column;
}


input[type=text] {
   padding: 8px;
   /* padding-left: 10px; */
   font-size: 14px;
   border: 1px solid grey;
  border-style: none;
   width: 45%;
   height: 2rem;
   background-color: #ededfe;
   /* background-color: rgb(222, 237, 250); */
  

   
 }
 
.search-client button {
   
   width: 5%;
  height: 2rem;
   background-color: #ededfe;
   color: white;
   font-size: 14px;
   

   border-left: none;
   cursor: pointer;
   margin-left: -5px;
   border-style: none;
   
   /* margin-left: -1rem; */
 }
 .search-client i{
     padding: 3px;
     margin-right: 2px;
     color: black;
 }
 .search-client a{
   box-shadow: 3px 2px 5px #b6dbf1;
   border-radius: 8px;
   text-decoration: none;
   background-color: #95D6FF;
   /* background-color: #94C9E5; */
   padding: 7px 10px;
   color: black;
   float: right;
   margin-right: 1rem;
   width: 120px;
   font-size: 14px;
   font-weight: 500;
}

/*client table*/
.client-table{
    width: 98%;
    justify-content: center;
    
    margin: 8rem auto 1rem auto;

}
.pagination{
    width: 100%;
    margin-top: 2rem;
    margin-left: 4rem;
}

.footer{
    width: 100%;
    margin-top: 5rem;
}



}
