@model ClientManagementSys.Models.AMC
@using ClientManagementSys.Areas.Identity.Data
@inject SignInManager<ApplicationUser> _signInManager;

@{
    ViewData["Title"] = "Create";
    Layout = "";
}
@*@if (User.IsInRole("Admin"))
    {
*@



<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/add_amc.css" asp-append-version="true">
    <script src=""></script>
    <title>Document</title>
</head>
<body>

    <div class="container">
        <span> <partial name="_DashBoardPartial" /></span>
        <div class="dashboard">
            <div class="top-nav">
                <p class="cms">Client Management System</p>
               <span > <partial name="_LoginPartial" /></span>
            </div>
            <div class="containers">
                <div class="Contact" id="add-client">
                    <div class="Contact" id="add-client">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div>
                                <label asp-for="Maintenance_Charge" class="control-label"></label>
                                <input type="text" asp-for="Maintenance_Charge" class="form-control" />
                                <span asp-validation-for="Maintenance_Charge" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Maintenance_Date" class="control-label">Maintenace Date</label>
                                <br />
                                <input asp-for="Maintenance_Date" type="date" class="form-control" />
                                <span asp-validation-for="Maintenance_Date" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Product_Id" class="control-label">Prodcut Name</label><br />

                                <select asp-for="Product_Id" class="form-control" asp-items="ViewBag.Product_Id"></select>
                            </div>
                            <div>
                                <label asp-for="Org_Id" class="control-label">Organization Name</label>
                                <br />
                                <select asp-for="Org_Id" class="form-control" asp-items="ViewBag.Org_Id"></select>
                            </div>


                            <div class="add-button">
                                <br>
                                <input type="submit" value="Add" class="registerbtn"></input>
                                <input type="submit" value="List" asp-action="Index" class="registerbtn"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <h6>Client Management system 2022 by Silicon soft Nepal</h6>
            </div>

        </div>
    </div>




    <script src="/js/navbar.js"></script>
</body>
</html>
@*}
*@






























@*<h1>Create</h1>

    <h4>AMC</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
    <label asp-for="AMC_Name" class="control-label"></label>
    <input asp-for="AMC_Name" class="form-control" />
    <span asp-validation-for="AMC_Name" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Maintenance_Charge" class="control-label"></label>
    <input asp-for="Maintenance_Charge" class="form-control" />
    <span asp-validation-for="Maintenance_Charge" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Maintenance_Date" class="control-label"></label>
    <input asp-for="Maintenance_Date" class="form-control" />
    <span asp-validation-for="Maintenance_Date" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Product_Id" class="control-label"></label>
    <select asp-for="Product_Id" class ="form-control" asp-items="ViewBag.Product_Id"></select>
    </div>
    <div class="form-group">
    <label asp-for="Org_Id" class="control-label"></label>
    <select asp-for="Org_Id" class ="form-control" asp-items="ViewBag.Org_Id"></select>
    </div>
    <div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    </form>
    </div>
    </div>

    <div>
    <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
